body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

h1 h2 h3 h4 h5 h6{
    font-family: 'Roboto Slab', serif;
}

.bottom-section{
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 60px;
    background-color: rgb(100, 0, 62); 
    color: #cbcbcb;
    font-family: 'ubuntu condensed', sans-serif;
    flex-direction: column;
    height:400px;
    margin-top: -4px;
}

.skewed-header{
    position: relative;
    height:400px;
    overflow:hidden;
}

.square-wrapper {
    display: flex;
    justify-content: center;
}

.square-wrapper > .squares {
    width: 1000px;
}

.square-wrapper > .squares > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:-4px;
}

.square > .image-wrapper img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.square > .square-text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
}

.square > .square-text-wrapper h1{
    color:#cea135;
}

.spacer60{
    height:60px;
    width:100%;
}

.spacer10{
    height: 10px;
    width: 100%
}